ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li.menu {
    display: inline;
    float: left;
}

li.menu a.menu {
    text-align: left;
    border-left: 1px solid #bbb;
    padding: 14px;
    text-decoration: none;
}

pre { width: 85%; }
